.upcomingEvent {
    display: flex;
    padding: 20px 0; 
    background-color: #C1CFD6;
    justify-content: center;
    gap: 30px; 
}

.leftColumn {
    flex: 0 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftColumn img {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.rightColumn {
    flex: 0 0 auto; 
    color: #708395;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.rightColumnTitle {
    font-size: 40px;
    margin: 0px;
    color: white;
}

.rightColumn .subtitle {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
}

.button {
    background-color: #708395;
    ;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

/* ส่วนการนับถอยหลัง */
/* Countdown section */
.countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    color: #708395;
}





