/*****************************Header Section************************************/
.perspective {
    background: #d8dedc;
    padding-inline: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}


.perspectiveHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

.topic {
    color: #6C6C6C;
    font-size: 48px;
    font-weight: bold;
    align-content: center;
}

.perspectiveFilterButton {
    display: flex;
    gap: 20px;
}

.perspectiveFilterButton button {
    font-size: 16px;
    padding: 0px 24px;
    cursor: pointer;
    background: none;
    border: 2px solid #3B757F;
    border-radius: 50px;
    transition: background-color 0.3s, border-color 0.3s;
}

.perspectiveFilterButton button:hover {
    background-color: #a0a0a0;
}

.perspectiveFilterButton button.active {
    background-color: #3B757F;
    color: white;
    border-color: #3B757F;
}

.viewAll {
    color: #3B757F;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    align-content: center;
}


/*****************************Section2************************************/

.articleContainer {
    display: flex; 
    gap: 20px;
    margin: 16px;
    padding-inline: 200px; 
    max-width: 1280px;
    overflow: hidden;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.columnLarge {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.articleItem {
    flex: 1;
    position: relative;
}

.articleImage {
    border-radius: 8px;
    object-fit: cover; /* ครอบคลุมให้เต็มพื้นที่ */
}

.articleText {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family: 'Century', serif;
}

.title {
    margin: 0; /* ไม่มี margin เพื่อให้พอดีกับพื้นที่ */
    padding-left: 8px;
}

.tag {
    display: block;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
}
