.TribeYogi {
    display: flex;
    flex-direction: column;

}

.TribeYogiHeader {
    display: flex; /* ใช้ Flexbox สำหรับจัดเรียงหัวข้อ */
    justify-content: space-between; /* จัดให้หัวข้ออยู่ซ้ายและ View all อยู่ขวา */
    align-items: center; /* ให้อยู่กลางแนวตั้ง */
    padding-inline: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.TribeYogiTopic {
    color: #6C6C6C;
    font-size: 48px; /* ขนาดของหัวข้อ */
    font-weight: bold;
}

.viewAll {
    color: #3B757F;
    font-size: 24px; /* ขนาดของ View all */
    font-weight: bold;
    cursor: pointer; /* เพิ่ม cursor pointer */
}

.imageSlider {
    display: flex;
    overflow: hidden; /* ซ่อนภาพที่อยู่นอกพื้นที่ */
    white-space: nowrap; /* ป้องกันการตัดบรรทัด */
    position: relative; /* เพื่อให้ child ของมันวางตำแหน่งได้ถูกต้อง */
}

.sliderTrack {
    display: flex;
    width: calc(200px * 12); /* จำนวน Item x ความกว้างของ Item */
    animation: scroll 18s linear infinite; /* เอฟเฟกต์การเลื่อน */
}

.imageSlide {
    display: inline-block; /* ทำให้รูปภาพอยู่ในแนวนอน */
    min-width: 200px; /* ขนาดของแต่ละกล่อง */
    margin: 0 20px; /* ระยะห่างระหว่างกล่อง */
    text-align: center; /* จัดให้ข้อความอยู่กลาง */
    margin-bottom: 24px;
}

.profileImage {
    width: 200px; /* ขนาดของรูปภาพ */
    height: 200px; /* ขนาดของรูปภาพ */
}

.profileDetails {
    margin-top: 20px; /* เพิ่มระยะห่างจากรูปภาพ */
    font-family: 'Quicksand', sans-serif;
}

.profileName {
    font-weight: bold;
    font-size: 24px; /* ขนาดของชื่อ เพิ่มขนาด */
}

.profileLocation {
    color: #555; /* สีของชื่อเมือง */
    font-size: 20px; /* ขนาดของชื่อเมือง เพิ่มขนาด */
}

/* Animation สำหรับทำให้เลื่อนอย่างต่อเนื่อง */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* เปลี่ยนเป็น 50% เพื่อให้ภาพที่สองเริ่มต้นใหม่ */
    }
}

/* ปรับการเลื่อนแบบ Infinite */
.sliderTrack:hover {
    animation-play-state: paused; /* หยุดการเลื่อนเมื่อ Hover */
}
