.footer {
    background: white;
    padding-top: 48px;
    margin: 0 250px; /* เพิ่มระยะห่างจากขอบจอ 250px */
    max-width: calc(100% - 500px); /* ใช้ความกว้างที่คำนวณ */
}

.footerRow1, .footerRow2 {
    display: flex;
    justify-content: space-between;
    max-width: 100%; /* ใช้ max-width แทน */
    margin: 0;
    padding: 12px;
    box-shadow: none;
}

.footColumn {
    display: flex;
    flex-direction: column; /* จัดแนวเป็นคอลัมน์ */
    margin: 0; /* ลบ margin ที่เคยมี */
    flex: 1; /* ให้แต่ละคอลัมน์มีความกว้างเท่ากัน */
    padding: 0 20px; /* เพิ่มระยะห่างซ้ายขวาให้แต่ละคอลัมน์ */
}

.footer a {
    text-decoration: none;
    padding: 10px;
}

.linkBold {
    font-size: 16px; /* ขนาดฟอนต์ใหญ่ */
    font-weight: bold; /* ฟอนต์หนา */
    color: black; /* สีฟอนต์ */
}

.linkText {
    font-size: 16px; /* ขนาดฟอนต์ใหญ่ */
    font-weight: normal; /* ฟอนต์หนา */
    color: black; /* สีฟอนต์ */
}

.footerLine {
    height: 0.1px; /* Thickness of the line */
    background-color: #C8C8C8; /* Color of the line */
    width: 100%; /* Full width */
    margin: auto; /* Spacing above and below the line */
}
