/* Quote section */
.quote {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #708395;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-family: 'Century', serif; /* Use Century for paragraphs */
}




