.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #4a4a4a;
}

/* แถวที่มีรูปใหญ่ 1 รูปและรูปเล็ก 3 รูป */
.row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; /* ปรับขนาดของรูปใหญ่และรูปเล็ก */
    gap: 20px;
    margin-bottom: 40px;
}

.rowReverse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 20px;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(11, auto); /* ให้แถวมีความสูงตามเนื้อหา */
    grid-template-columns: repeat(3, 1fr); /* ให้แต่ละแถวมี 4 คอลัมน์ */
    gap: 20px;

}
.gridSubCollection {
    display: grid;
    grid-template-rows: repeat(3, auto); /* ให้แถวมีความสูงตามเนื้อหา */
    grid-template-columns: repeat(3, 1fr); /* ให้แต่ละแถวมี 4 คอลัมน์ */
    gap: 20px;

}

.largeItem {
    overflow: hidden;
    position: relative;
    grid-column: span 3;
    grid-row: span 1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    height: 300px;
}

.largeItem:hover {
    transform: scale(1.02);
}

.squre {
    display: flex;
}
.smallItem {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    height: 400px;
}
.typeText {
    font-size: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.seeAllText {
    color: black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    text-decoration: underline;
}
.seeAllText:visited {
    color: black;
}

.seeAllText:hover {
    color: blue;
}



.smallItem:hover {
    transform: scale(1.05);
}

.smallItem img,
.largeItem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.imageText {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
